# Ignore Python bytecode files
*.pyc

# Ignore CSV data files
*.csv

#ignore ide folder
/.idea/

#ignore lib folder
/Lib/

# Ignore system files
.DS_Store
Thumbs.db 

# created by virtualenv automatically
