# Ignore Python bytecode files
*.pyc

# Ignore CSV data files
*.csv


/Scripts/
/Lib/

/music/chrome-win64/

#ignore ide folder
/.idea/

#ignore lib folder

# Ignore system files
.DS_Store
Thumbs.db 

# Ignore environment variable files
*.env

# Ignore model files
*.pkl

# created by virtualenv automatically

